<div mat-subheader *ngIf="item.navCap" class="nav-caption">
  {{ item.navCap }}
</div>
<a mat-list-item (click)="onItemSelected(item)" [ngClass]="{'mat-toolbar mat-primary activeMenu':
  item.route ? router.isActive(item.route, true) : false,}" class="menu-list-item" *ngIf="!item.navCap">
  <div class="row justify-content-end">
    <div class="col-1">
      <i class="{{ item.iconName }}"></i>
    </div>
    <div class="col">
      <span class="hide-menu">{{ item.displayName }}</span>
    </div>
  </div>
</a>
