<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-success" href="#">
      Ad Server - Beta
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>

    <div class="justify-content-end collapse navbar-collapse">
      <div *ngIf="auth.isLoading$ | async; else loaded">
      </div>
      <ng-template #loaded>
        <span *ngIf="!(auth.user$ | async) as user">

          <button class="navbar-btn btn btn-primary" (click)="login()">Log In</button>

        </span>

        <a class="mouseover" routerLink="dashboard/Profile">
          <span class="dropdown mb-1" *ngIf="auth.user$ | async as user">
            <img alt="Profile picture" routerLink="profile" class="nav-user-profile d-inline-block rounded-circle mr-3"
              style="width: 45px;" [src]="user.picture" />
          </span>
        </a>

      </ng-template>

    </div>
  </div>
</nav>
