@import 'bootstrap/dist/css/bootstrap.css';

@import "../src/scss/b-styles.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: black; }

.mouseover:hover{
cursor: pointer;
}

.b-text-white{
color: white !important;
}

.b-spacer{
  width: 100px;
  height: 10vh;
}